.journallist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  font-weight: bold;
}

.delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  border-radius: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: stretch;
  font-weight: bold;
}

.item h3 {
  margin: 10px 10px;
}

.item h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
.item h2 {
  margin: 10px 10px;
  color: black;
}

.item h2:hover {
  cursor: pointer;
  text-decoration: underline;
}
