header h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

header {
  background-color: #727397;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.active {
  text-decoration: underline;
}
