body {
  display: flexbox;
  font-family: 'MayinsHandRegular';
  font-family: 'UglyTypistRegular';
  font-weight: normal;
  font-style: normal;
}

img {
}

h2 {
  color: #727397;
}

.timehub-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #727397;
  font-family: monospace;
  font-size: 15px;
  margin: 20px;
  padding: 20px 10vw;
}
.developers-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name {
  color: #727397;
  background-color: aliceblue;
  font-family: monospace;
  font-size: 20px;
}

.developer-bio {
  width: 36vw;
  text-align: right;
  padding: 20px;
  margin: 10px;
  color: #727397;
  font-family: monospace;
}
.developer-bio2 {
  width: 36vw;
  text-align: right;
  margin: 10px;
  padding: 20px;
  color: #727397;
  font-family: monospace;
}

.bio-text {
  text-align: center;
}
.bio-text2 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
}
