footer h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  background-color: #727397;
  font-family: monospace;
  font-size: 20px;
  position: fixed;
  bottom: 0%;
  width: 100vw;
}

.footer-link {
  color: aliceblue;
}
