body {
  background-image: url(https://www.ppt-backgrounds.net/thumbs/light-blue-clipart-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  min-height: 100vw;
}
